/* ========== START Dark Mode Colors ========== */
:root {
    --primary: #131516;
    --secondary: #2B2F31;
    --text: #d8d4cf;
    --blue: #004daa;
    --caption: #e8e6e3;
}
/* ========== END Dark Mode Colors ========== */
/* ========== START CSS Reset ========== */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.img{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* ========== END CSS Reset ========== */




body {

    background-color: var(--primary);
    color: var(--text);

    display: flex;
    flex-direction: column;
    gap: 32px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'MedievalSharp', cursive;

    padding: 16px;
}

header {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    text-align: center;
    flex-basis: 100%;
    text-shadow: -4px 1px var(--blue);
}

header, form {
    margin: auto;
}